
modules = ["python-3.12:v3-20240201-3f4725c"]
run = "python api.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python api.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
